<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../assets/js/search/search.js" defer></script>
    <link rel="stylesheet" href="../style.css" />
    <style>
      /* Custom animations */
      @keyframes float {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0px);
        }
      }
      .category-icon {
        transition: all 0.3s ease;
      }
      .category-card:hover .category-icon {
        animation: float 2s ease-in-out infinite;
      }
      .category-card:hover .shop-btn {
        transform: translateY(-5px);
      }
      .shop-btn {
        transition: all 0.3s ease;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-white shadow-md fixed w-full z-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
            <a href="./index.html" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#1e40af"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="7" y="2" width="10" height="20" rx="2" ry="2" />
                <line x1="12" y1="18" x2="12.01" y2="18" />
              </svg>

              <div class="ml-2 font-bold">
                <span class="text-xl text-gray-800">Tech</span>
                <span class="text-xl text-blue-600">Sphere</span>
              </div>
            </a>
          </div>

          <!-- Navigation Links - Desktop -->
          <div class="hidden md:flex items-center space-x-8">
            <a
              id="home"
              href="./index.html"
              class="text-gray-700 hover:text-blue-500 border-b-2 px-3 py-2 rounded-md font-medium transition duration-150"
              >Home</a
            >

            <a
              id="shop"
              href="./shop.html"
              class="text-gray-700 hover:text-blue-500 border-b-2 px-3 py-2 rounded-md font-medium"
              >Shop</a
            >

            <!-- Categories Dropdown -->
            <div class="relative group">
              <button
                class="flex items-center text-gray-700 hover:text-blue-500 px-3 py-2 rounded-md font-medium transition duration-150"
              >
                Categories
                <svg
                  class="ml-1 w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </button>

              <!-- Dropdown Menu -->
              <div
                class="absolute left-0 mt-2 w-screen md:max-w-xl lg:max-w-4xl bg-white rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 transform -translate-x-1/4 origin-top scale-95 group-hover:scale-100 z-50 overflow-hidden"
              >
                <div
                  class="w-[95%] md:grid md:grid-cols-2 mx-auto md:gap-4 py-5 lg:flex lg:flex-row lg:gap-x-4 px-4"
                >
                  <!-- Smart Watches -->
                  <div
                    class="lg:max-w-[22%] category-card bg-gradient-to-tl from-gray-400 to-gray-300 p-4 rounded-xl shadow-sm hover:shadow-md transition-all duration-300 border border-purple-200"
                  >
                    <div
                      class="category-icon bg-gray-500 text-white p-3 rounded-full w-16 h-16 flex items-center justify-center mx-auto mb-4"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="12" cy="12" r="7"></circle>
                        <polyline points="12 9 12 12 13.5 13.5"></polyline>
                        <path
                          d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"
                        ></path>
                      </svg>
                    </div>
                    <h3
                      class="font-bold text-center text-gray-800 text-lg mb-2"
                    >
                      Smart Watches
                    </h3>
                    <p
                      class="text-gray-700 text-base font-semibold text-center mb-4"
                    >
                      Wearable tech for every lifestyle
                    </p>
                    <a
                      href="./shop.html#smartwatches"
                      class="shop-btn block bg-gray-500 text-white font-bold text-center py-2 px-4 rounded-lg transition-all w-full"
                      >Shop Now</a
                    >
                  </div>
                  <!-- Headphones -->
                  <div
                    class="lg:max-w-[22%] category-card bg-gradient-to-tl from-neutral-500 to-neutral-400 p-4 rounded-xl shadow-sm hover:shadow-md transition-all duration-300 border border-red-200"
                  >
                    <div
                      class="category-icon bg-neutral-700 text-white p-3 rounded-full w-16 h-16 flex items-center justify-center mx-auto mb-4"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
                        <path
                          d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
                        ></path>
                      </svg>
                    </div>
                    <h3
                      class="font-bold text-center text-neutral-800 text-lg mb-2"
                    >
                      Headphones
                    </h3>
                    <p
                      class="text-neutral-800 text-base font-semibold text-center mb-4"
                    >
                      Premium audio experience
                    </p>
                    <a
                      href="./shop.html#headsets"
                      class="shop-btn block bg-neutral-700 text-white font-bold text-center py-2 px-4 rounded-lg transition-all w-full"
                      >Shop Now</a
                    >
                  </div>

                  <!-- Phones -->
                  <div
                    class="lg:max-w-[22%] category-card bg-gradient-to-tl from-gray-600 to-gray-500 p-4 rounded-xl shadow-sm hover:shadow-md transition-all duration-300 border border-gray-200"
                  >
                    <div
                      class="category-icon bg-gray-400 text-white p-3 rounded-full w-16 h-16 flex items-center justify-center mx-auto mb-4"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <rect
                          x="5"
                          y="2"
                          width="14"
                          height="20"
                          rx="2"
                          ry="2"
                        ></rect>
                        <line x1="12" y1="18" x2="12" y2="18"></line>
                      </svg>
                    </div>
                    <h3 class="font-bold text-center text-white text-lg mb-2">
                      Smartphones
                    </h3>
                    <p
                      class="text-white text-base font-semibold text-center mb-4"
                    >
                      Latest mobile technology
                    </p>
                    <a
                      href="./shop.html#phones"
                      class="shop-btn block bg-gray-400 text-white font-bold text-center py-2 px-4 rounded-lg transition-all w-full"
                      >Shop Now</a
                    >
                  </div>

                  <!-- Gaming Consoles -->
                  <div
                    class="lg:max-w-[22%] category-card bg-gradient-to-tl from-blue-400 to-blue-300 p-4 rounded-xl shadow-sm hover:shadow-md transition-all duration-300 border border-blue-200"
                  >
                    <div
                      class="category-icon bg-blue-500 text-white p-3 rounded-full w-16 h-16 flex items-center justify-center mx-auto mb-4"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#1e3a8a"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path d="M6 3h12l3 9H3l3-9z"></path>
                        <path
                          d="M3 12h18v6a3 3 0 01-3 3H6a3 3 0 01-3-3v-6z"
                        ></path>
                        <path d="M16 12V5l-4 4-4-4v7"></path>
                      </svg>
                    </div>
                    <h3
                      class="font-bold text-center text-gray-800 text-lg mb-2"
                    >
                      Gaming Consoles
                    </h3>
                    <p
                      class="text-black text-base font-semibold text-center mb-4"
                    >
                      Explore next-gen gaming systems
                    </p>
                    <a
                      href="./shop.html#consoles"
                      class="shop-btn block bg-blue-500 hover:bg-blue-600 text-white font-bold text-center py-2 px-4 rounded-lg transition-all w-full"
                      >Shop Now</a
                    >
                  </div>
                </div>

                <!-- Featured category banner -->
                <div class="bg-gray-100 p-4">
                  <div
                    class="max-w-7xl mx-auto px-4 py-2 flex justify-between items-center"
                  >
                    <p class="text-gray-700 font-medium">
                      Featured Collection:
                      <span class="text-blue-600 font-bold"
                        >New Arrivals 2025</span
                      >
                    </p>
                    <a
                      href="shop.html"
                      class="text-blue-600 hover:text-blue-800 font-medium"
                      >View All →</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Side - Search, Cart, and Wishlist -->
          <div class="flex items-center gap-x-8">
            <!-- Search -->

            <div class="relative hidden md:block">
              <input
                id="search-Input"
                type="text"
                placeholder="Search..."
                class="w-80 pl-10 pr-4 py-2 text-black rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
              />
              <button
                id="search-btn"
                class="absolute left-3 top-2 p-1 text-gray-400 active:rounded-full active:bg-gray-300"
              >
                <svg
                  class="size-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
                </svg>
              </button>

              <!-- Conteneur des résultats de recherche -->
              <div
                id="search-results"
                class="lg:flex-col lg:gap-y-4 p-2 absolute -left-8 mt-2 w-[400px] text-black bg-gradient-to-r from-gray-300 to-gray-100 border border-blue-500 rounded-lg shadow-lg h-80 overflow-y-auto overflow-x-hidden hidden"
              >
                <!-- Résultats insérés ici dynamiquement -->
              </div>
            </div>

            <!-- Cart -->
            <a
              id="dashboard-link"
              href="dashboard.html"
              class="hidden text-gray-700 hover:text-blue-500 text-4xl relative"
            >
              📊
            </a>
            <a
              id="cart-link"
              href="cart.html"
              class="text-gray-700 hover:text-blue-500 text-4xl relative"
            >
              🛒
              <span
                id="cart-items-number"
                class="absolute -top-2 -right-4 h-5 w-5 rounded-full bg-blue-600 text-white text-xs flex items-center justify-center"
                >0</span
              >
            </a>
            <a
              id="order-link"
              href="myOrders.html"
              class="text-gray-700 text-4xl relative"
            >
              📋
              <span
                id="order-count"
                class="absolute -top-2 -right-3 size-6 rounded-full bg-yellow-600 text-white text-xs flex items-center justify-center"
                >0</span
              >
            </a>
            <div
              class="flex flex-row gap-x-4 items-center justify-center font-bold"
            >
              <a
                id="register"
                href="#"
                class="ml-8 bg-blue-600 tracking-wider text-white px-4 py-2 rounded-md hover:bg-blue-900 transition duration-150"
              >
              </a>
              <a
                id="login"
                href="#"
                class="bg-blue-900 text-white tracking-wider px-4 py-2 rounded-md hover:bg-blue-600 transition duration-150"
              >
              </a>
            </div>

            <!-- Mobile menu button -->
            <button
              type="button"
              class="md:hidden bg-white p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <a
            id="mobile-home-link"
            href="./index.html"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500 hover:bg-gray-50"
            >Home</a
          >
          <a
            id="mobile-shop-link"
            href="./shop.html"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500 hover:bg-gray-50"
            >Shop</a
          >

          <!-- Mobile Categories -->
          <div class="relative">
            <button
              class="w-full flex justify-between items-center px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500 hover:bg-gray-50"
            >
              Categories
              <svg
                class="h-5 w-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>

            <!-- Mobile dropdown (hidden by default, would need JS to toggle) -->
            <div class="hidden px-4 py-2 bg-gray-50">
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500"
                >Gaming Consoles</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500"
                >Phones</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500"
                >Smart Watches</a
              >
              <a
                href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-500"
                >Headphones</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
