<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section
      class="relative bg-gradient-to-r from-gray-200 via-neutral-500 to-zinc-600 text-gray-800 rounded-xl mt-2 hover:shadow-xl hover:shadow-zinc-700 transition duration-300"
    >
      <div class="container px-8 py-16 md:py-28 relative z-10">
        <div
          class="w-1/2 flex flex-col gap-y-6 items-start justify-end animate-fadeIn"
        >
          <h1 class="text-4xl md:text-5xl font-bold mb-1">
            Discover the best products at the best price!
          </h1>
          <p class="text-lg md:text-xl mb-8 opacity-90">
            A wide selection of quality electronic devices for all your needs.
          </p>
          <button
            class="bg-neutral-600 text-white px-6 py-3 rounded-lg text-lg font-semibold transition duration-300 animate-pulse-slow"
          >
            Explore the categories
            <i class="fas fa-chevron-right ml-2"></i>
          </button>
        </div>
      </div>
      <div class="absolute left-1/3 inset-y-0 w-2/3 hidden lg:block">
        <img
          src="assets/images/shopSection/shopHero.webp"
          alt="Electronics devices"
          class="object-center object-cover w-full h-full rounded-r-lg"
        />
      </div>
    </section>
  </body>
</html>
